@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  isolation: isolate;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  /* background: #fff8f2; */
}

body {
  /* color: var(--foreground); */
  background: #fff8f2;
  font-family: var(--font-red-hat), Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
